/* app/globals.css */
:root {
  --color-bg: #161616;
  /* Görseldeki orta şerit (Koyu Gri/Siyah) */
  --color-primary: #DC4429;
  /* Görseldeki sağ şerit (Canlı Turuncu/Kırmızı) */
  --color-white: #F8F8F8;
  /* Görseldeki sol şerit (Kırık Beyaz) */
  --color-gray: #9ca3af;
  --font-main: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: var(--font-main);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Scrollbar Tasarımı */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}